@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(3,15,0);
  background: radial-gradient(circle, rgba(3,15,0,1) 0%, rgba(70,0,0,1) 0%, rgba(15,0,0,1) 100%); 
  color: rgb(123, 255, 35);
  font-family: 'VT323', monospace;
  overflow: hidden;
  height: 100%;
}

.screen-frame {
  pointer-events: none;
  z-index: 9000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  margin: 0 auto;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(8, 10vw);
  grid-template-rows: repeat(4, 20vh);
  justify-content: center;
  margin-top: 2.6em;
  row-gap: .95em;
  column-gap: .75em;
  height: 100vh;
}

.cards-grid.disabled {
  pointer-events:none
}

.card {
  width: 12em;
  height: 12.5em;
  perspective: 900px;
}

.card.matched{
  opacity: 0;
  transition: opacity .5s ease;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  cursor: pointer;

  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card.flipped .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #202020;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background-image: url("./assets/mono.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #3a3a3a;
}

.front {
  background: rgb(82, 0, 0);
  color: white;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: 3.15em;
  transform: rotateY( 180deg );
}

.card-front-image, .card-back-image{
  width: 70%;
}

.game-menu {
  grid-column-start: 1;
  grid-column-end: 9;
  font-size: 60px;
  font-weight: 100;
}

.timer, .turns, .wins {
  font-size: 60px;
  font-weight: 100;
}

.timer {
  grid-column-start: 3;
  grid-column-end: 7;
}

.turns {
  grid-column-start: 1;
  grid-column-end: 2;
}

.wins {
  grid-column-start: 8;
  grid-column-end: 9;
}

.game-over-display {
  margin: 0 auto;
  margin-top: 6em;
  font-size: 2em;
}

.play-again-button {
  background: rgb(22, 54, 0);
  color: rgb(123, 255, 35);
  font-family: 'VT323', monospace;
  border: 2px solid rgb(123, 255, 35);
  cursor: pointer;
}

.play-again-button:hover {
  background: rgb(160, 42, 42);
}

.loading:after {
  display: inline-block;
  animation: dotty steps(1,end) 1.5s infinite;
  content: '';
  width: 50px;
  text-align: left;
}

@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}
/* http://aleclownes.com/2017/02/01/crt-display.html cool crt flicker effect */

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}

@media (max-width: 1800px) {
  
  .card {
    width: 10em;
    height: 10.5em;
    perspective: 900px;
  }

  .cards-grid {
    margin-top: 2.6em;
    row-gap: 0em;
    column-gap: .75em;
    height: 100vh;
  }

  .timer, .turns, .wins {
    font-size: 34px;
    font-weight: 100;
  }
}


@media (max-width: 1500px) {
  .card {
    width: 8em;
    height: 10.5em;
    perspective: 900px;
  }

}

@media (min-width: 421px) and (max-width: 1200px) {
  
  .card {
    width: 5em;
    height: 10.5em;
    perspective: 900px;
  }

  .cards-grid {
    margin-top: 5.25em;
    column-gap: .75em;
    height: 100vh;
  }
}

@media (max-width: 420px) {
  
  .card {
    width: 75px;
    height: 55px;
    perspective: 900px;
  }

  .cards-grid {
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(8, 50px);
    margin-top: 2em;
    column-gap: 0.5em;
    row-gap: 1em;
    height: 100vh;
  }

  .back {
    background-position: center;
    background-size: contain;
  }

  .front {
    background-position-y: center;
    background-size: 1em;
  }

  .timer, .turns, .wins {
    font-size: 1.5rem;
    font-weight: 100;
  }
  
  .timer {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  
  .turns {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  
  .wins {
    grid-column-start: 4;
    grid-column-end: 4;
  }

  .game-over-display {
    margin: 0 auto;
    margin-top: 10em;
    font-size: 1em;
  }
}

@media (min-height: 731px) and (max-height: 736px) {
  .cards-grid {
    margin-top: 5em;
  }
}

@media (min-height: 750px) and (max-height: 850px) {
  .cards-grid {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(8, 70px);
  }

  .card {
    width: 70px;
    height: 75px;
    perspective: 900px;
  }
}